:root {
    --cp-list-bg: rgba(238, 238, 238, 0.623);
    --blocker: rgba(136, 136, 136, 0.623);
    --sidebar-color: rgb(136, 136, 136);
    --form-color: rgb(255, 249, 249); 
}

html, body {
    margin: 0;
    height: 100%;
}

.body {
    height: calc(100vh - 56px);
}

.flex {
    display: flex;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-col {
    flex-direction: column;
}

.flex-end {
    width: 100%;
    justify-content: flex-end;
}

.rows {
    padding: 16px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.spaceholder {
    padding: 16px;
}

.cp-view {
    background-color: var(--cp-list-bg);
    width: 70%;
    align-self: flex-end;
    flex-direction: row-reverse;
    margin-right: 16px;
}

.dropout-down {
    width: 0px;
    height: 0px;
    margin: auto;
    margin-left: 6px;
    transform: rotate(360deg);
    -webkit-transform:rotate(360deg);
    border-style: solid;
    border-width: 17.3px 10px 0 10px;
    border-color: #858c8b transparent transparent transparent;
}

.dropout-up {
    width: 0px;
    height: 0px;
    transform: rotate(360deg);
    -webkit-transform:rotate(360deg);
    border-style: solid;
    border-width: 0 10px 17.3px 10px;
    border-color: transparent transparent #858c8b transparent;
}

.hidden {
    display: none;
}

.row-indication {
    margin: 5px 16px 5px 16px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.row-selected {
    margin: 16px 5px 16px 5px;
    border: rgb(209, 213, 219) dotted;
}

.row-selected:hover {
    cursor: pointer;
}


.row-indication:hover {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    cursor: pointer;
}

.flex-col{
    flex-direction: column;
}

.left-1-3 {
    width: 33%;
    justify-content: center;
    border-right: 1px dashed grey;
}

.listing a {
    padding: 10px;
    white-space: nowrap;
    block-size: fit-content;
}

.cp-display {
    width: 100%;
    margin: 16px;
}

.cp-info-display {
    width: 100%;
    background-color: var(--cp-list-bg);
    padding: 50px;
    margin: 16px;
}

.cp-info-display h2,h3 {
    padding: 16px;
    justify-self: center;
}

.blocker {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--blocker);
    display: flex;
    justify-content: center;
}

.form-wrapper {
    margin: 0 auto;
    position: absolute;
    top: 10%;
    width: 40%;
    height: 80%;
    background-color: var(--form-color);
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.form-wrapper h2 {
    padding: 16px;
    margin: 0 auto;
}

.new-cp {
    margin: 0 auto;
    padding: 16px;
    top: 25%;
    width: 66%;
    height: 60%;
    justify-content: center;
}

.new-cp label {
    margin: 0;
}

.new-cp input,select {
    margin-bottom: 10px;
}

.center {
    justify-content: center;
}

.center-info {
    margin: 0 auto;
}

.center-info a,h4 {
    margin: 0;
    padding: 12px;
    justify-self: center;
}

.std-margin {
    margin: 16px;
}

.o-link:hover {
    cursor: pointer;
}

.info-display {
    margin: 0 auto;
    display: flex;
	box-shadow: 0 3px 6px rgba(0,0,0,0.4);
    padding: 16px;
}

.info-display h4 {
    padding-bottom: 16px;
    padding-left: 0;
}


.add-icon {
    padding: 0 6px 0 6px;
    width: 10%;
}

.hide-icon {
    padding: 0 6px 0 6px;
    width: 10%;
}

.cp-value-container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cp-value {
    border: none;
    width: 100%;
    height: 100%;
    padding: 16px;
    white-space: pre-line;
}

.cp-header-information {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
    width: 100%;
    height: 100%;
    padding: 16px;
    overflow: hidden;
}



/* https://codepen.io/JFarrow/pen/fFrpg */

.fa-2x {
    font-size: 2em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded { 
    width: fit-content;
    overflow:visible;
}

.main-menu {
    background: var(--sidebar-color);
    border-right:1px solid #e5e5e5;
    left: 0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    transform: translateZ(0) scale(1,1);
    z-index:1000;
}

.main-menu>ul {
    margin:7px 0;
}

.main-menu li {
    position:relative;
    display:block;
    width: 250px;
    padding: 6px 0 6px 0;
}

.main-menu li>a {
    position: relative;
    display: table;
    border-collapse:collapse;
    border-spacing:0;
    color: #FEFEFE;
    font-family: arial;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    transform: translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
  
}

.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}

.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#5fa2db;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}
